<div class="row" >
  <div class="col-md-4 col-md-offset-4">
  <h1>Mary Men Makeup Artistry</h1><br><br>
  </div>
  <div class="col-md-3">
    <nav class="navbar navbar-default" id="navigation-bar">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <!-- <li><a href="#">Page 2</a></li> -->
            <li><a href="#">Gallery</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="row">
  <div class ="photos col-md-4 col-md-offset-4" id="photo-gallery">
    <div id = "image-1">
      <img  src="https://41.media.tumblr.com/dbbf4b6a160c478e765730d20c36a805/tumblr_mq3n0pTsSd1sw3f8ro10_1280.jpg" alt="hair picture">
    </div>
    <div id = "image-2">
      <img src="https://40.media.tumblr.com/a0c5990af494c79a723b1a9dfaa94c04/tumblr_mq3n0pTsSd1sw3f8ro9_1280.jpg">
    </div>
    <div id = "image-3">
      <img src="https://40.media.tumblr.com/2bc62515e6195055933f672719ca5969/tumblr_mq3n0pTsSd1sw3f8ro8_1280.jpg">
    <!-- <img id = "image-4" class = "hair" src="google.png"> -->
    </div>
    <div id = "image-6">
      <img src="http://41.media.tumblr.com/8a359cd99b50fbceea5e023ff9d145c4/tumblr_n5ydl0msSY1sw3f8ro1_1280.jpg">
    </div>
    <div id = "image-5">
      <img src="http://41.media.tumblr.com/a59dc016a23829f402e13ec4dda468d6/tumblr_n5ydhfod6q1sw3f8ro1_1280.jpg">
    </div>
    <div id = "image-6" >
      <img class = "makeup" src="http://41.media.tumblr.com/11a6bb9a4f879163559d9c096939d118/tumblr_n5ydfquSEf1sw3f8ro1_1280.jpg">
    </div>
    <div id = "image-7">
      <img src="http://40.media.tumblr.com/30af07108eb89fc055b64f81a8cb6c8d/tumblr_n5yde982J81sw3f8ro1_1280.jpg">
    </div>
  </div>
</div>
<button>LEFT</button>
<button>RIGHT</button>


<script>
  
</script>