<div class="row" >
  <div class="col-md-4 col-md-offset-4">
  <h1>Mary Men Makeup Artistry</h1><br><br>
  </div>
  <div class="col-md-3">
    <nav class="navbar navbar-default" id="navigation-bar">
      <div class="container-fluid">
        <div>
          <ul class="nav navbar-nav links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About Me</a></li>
            <!-- <li><a href="#">Page 2</a></li> -->
            <li><a href="/">Gallery</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>